<h1>User#index</h1>
<%= javascript_include_tag "/easyui/jquery.easyui.min.js"  %>
<%= javascript_include_tag "/easyui/locale/easyui-lang-zh_CN.js"  %>
<%= stylesheet_link_tag "/easyui/themes/default/easyui.css" %>
<%= stylesheet_link_tag "/easyui/themes/icon.css" %>



<body class="easyui-layout">
<div data-options="region:'north',border:false"style="height:60px;overflow: hidden">
  <div style="float: left"><img style="height:60px;" src="images/Logo.jpg"/></div>
</div>
<div data-options="region:'west',split:true,title:'菜单'" style="width:200px;padding:10px;">
  <ul id="tt1" class="easyui-tree" data-options="animate:true,dnd:true">
    <li data-options="state:'closed'">
      <span>流程用例页面</span>
      <ul>
        <li data-options="state:'closed',iconCls:'icon-edit'">
          <span>人员调动申请流程</span>
          <ul>
            <li>flow1</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div data-options="region:'east',split:true,collapsed:true,title:'工具'" style="width:100px;padding:10px;">
  <!-- 待处理  添加一下功能性比较强的模块 -->
</div>
<!-- <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div> -->
<div data-options="region:'center'">
  <div id="tt" class="easyui-tabs" data-options="tools:'#tab-tools',border:false,fit:true" >
    <div title="首页" data-options="tools:'#p-tools'">
      <iframe style="height:100%;width:100%" align="center" id="winframe" onload="setIframe()" frameborder="no" border="0"   src="/user/show">
      </iframe>
    </div>
  </div>
</div>
</body>

<hr/>
<script>
  $(function(){
  })
</script>
<form method="post" action="/user/save">
  <%= tag(:input, :type => "hidden", :name =>request_forgery_protection_token.to_s, :value =>form_authenticity_token) %>
  name<input name="name" value="jack"><br/>
  age<input name="age"value="15"><br/>
  password<input name="password"value="p123"><br/>
  <input type="submit" vlaue="submit">
</form>
